					<div class="mastfoot">
            		<div class="inner">
              			<p>@Copyright ...<a href="#">关于我们</a></p>
            		</div>
          		</div>
			</div>
		</div>
	</div>
	</body>
	<script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
	<script type="text/javascript" src="/javascripts/jquery-2.1.0.min.js"></script>
</html>