<DOCTYPE HTML>
<html>
	<head>
		<title><%= title %></title>
		<link rel="stylesheet" href="/stylesheets/bootstrap.min.css"/>
		<link rel="stylesheet" href="/stylesheets/mystyle.css"/>
	</head>
	<body>	
		<div class="site-wrapper">
			<div class="site-wrapper-inner">
				<div class="cover-container">
					
					<div class="masthead clearfix">
						<div class="inner">
							<h3 class="masthead-brand">
								<a href="/">Cover</a>
							</h3>
							<ul class="nav masthead-nav">
								<li <%if(action=='index'){%>class="active"<%}%>><a href="/">首页</a></li>
								<li <%if(action=='algos'){%>class="active"<%}%>><a href="/algos">我的算法</a></li>
								<li <%if(action=='signin'){%>class="active"<%}%>><a href="/signin">登录</a></li>
								<li <%if(action=='signup'){%>class="active"<%}%>><a href="/signup">注册</a></li>
							</ul>
						</div>
					</div>
