doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    script(src='/javascripts/bootstrap.min.js')
    script(src='/javascripts/jquery-2.1.0.min.js')
  body
    block content