<%include head%>

<div class="inner">

	<form class="form-horizontal" role="form">
		<label>加入我们</label>
		<div class="form-group">
			<label for="loginName">登录名</label>

		</div>
	</form>

</div>

<%include foot%>